*{
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  max-width: 80%;
}

.navbar{
  box-shadow: 0px 3px #b8babb;
}

.navbar-nav{
  margin-left: 20rem;
}

.active{
  color: #066e48 !important;
}


.body{
  margin-top: 12%;
  display: flex;
  /* height: 30rem; */
  /* overflow: hidden; */
}

.link i{
  display: block;
  font-size: x-large;
  margin-top: 60px;
  /* margin-left: 3rem; */
  color: #5a69e8;
}



.link a{
  text-decoration: none;
}

.Hello{
  margin-left: 3rem;
  margin-top: 50px;
  font-size: x-large;
}

.Hello p{
  margin-top: 20px;
} 

.Contact-button{
  margin-top: 60px;
  font-size: larger;
  padding: 12px;
  border-radius: 12px;
  background-color: #5a69e8;
}

.Contact-button a{
  text-decoration: none;
  color: #FFFFFF;
}

.Contact-button i{
 transform: rotate(45deg) !important; 
 display: inline-block;
}

.pic{
  margin-left: 10rem;
  justify-content: center;  
  display: inline-block;
}

.pic img{
  background-position: top;
  background-size: cover;
  border-radius: 22px;
}

.scroll-down{
  margin-top: 15rem;
  margin-left: 300px;
  font-size: larger;
  padding: 12px;
  color: #5a69e8;
  font-weight: bold;
  border: none;
  background-color: inherit;
}

.About-Me a{
  text-decoration: none;
}

.About-Me i{
  font-size: larger;
  font-weight: bolder;
  align-self: center;
}

#About-Me{
  margin-top: 130px;
}

#About-Me h2{
  text-align: center;
  font-size: 40px;
}

#About-Me h2 a{
  text-decoration: none;
}

#About-Me p{
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.flex{
  display: flex;
  margin-top: 50px;
}

#pic{
  margin-left: 300px;
  width: 400px;
}

.self{
  margin-right: 150px;
}

.self > p{
  margin-top: 80px;
  width: 494 !important;
  text-align: left !important;
}

.download-cv{
  margin-top: 100px;
  padding: 12px;
  font-size: x-large;  
  font-weight: bold;
  background-color:  #5a69e8;
  border-radius: 12px;
}

.download-cv a{
  text-decoration: none;
  color: #FFFFFF;
}

.download-cv i{
  font-size: x-large;
  font-weight: bold;
  align-self: center;
}

#tech{
  margin-top: 150px;
}

#tech h2{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#tech p{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.logo{
  /* background-color: red; */
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo > div{
  padding: auto;
  line-height: 60px;
  width: 200px;
  margin: 40px;
  font-size: 20px;
  align-self: center;
}