*{
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  max-width: 80%;
}

header{
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: beige;
  box-shadow: 0px 2px #b8babb;
}

.nav h2{
  display: inline-block;
  margin-left: 10vw;
  align-self: center;
}

.nav ul{
   margin-left: 10vw;
   align-self: center;
}

.nav ul li{
  display: inline;
  text-decoration: none;
  width: 60px;
  font-weight: bolder;
  font-size: larger;
  margin-right: 3vw;
  margin-top: auto;
}

.nav ul li a{
  text-decoration: none;
  color: black;
}

li a.active{
  color: #066e48 !important;
}

.nav i{
  font-size: x-large;
  margin-top: 4px;
  margin-right: 10vw;
  align-self: center;
  margin-left: 10vw;
}

.body{
  margin-top: 10%;
  display: flex;
  height: 400px;
  overflow: hidden;
  
}

.link i{
  display: block;
  font-size: x-large;
  margin-top: 60px;
  margin-left: 100px;
  color: #5a69e8;
}

.link a{
  text-decoration: none;
}

.Hello{
  margin-left: 170px;
  margin-top: 50px;
  font-size: x-large;
}

.Hello p{
  margin-top: 20px;
}

.Contact{
  margin-top: 60px;
  font-size: larger;
  padding: 12px;
  border-radius: 12px;
  background-color: #5a69e8;
}

.Contact a{
  text-decoration: none;
  color: #FFFFFF;
}

.Contact i{
 transform: rotate(45deg) !important; 
 display: inline-block;
}

.pic{
  margin-left: 200px;
  justify-content: center;  
  margin-right: 150px;
  display: inline-block;

}

.pic img{
  background-position: top;
  background-size: cover;
  border-radius: 22px;
}

.About-Me{
  margin-top: 100px;
  margin-left: 300px;
  font-size: larger;
  padding: 12px;
  color: #5a69e8;
  font-weight: bold;
  border: none;
  background-color: inherit;
}

.About-Me a{
  text-decoration: none;
}

.About-Me i{
  font-size: larger;
  font-weight: bolder;
  align-self: center;
}

#About-Me{
  margin-top: 130px;
}

#About-Me h2{
  text-align: center;
  font-size: 40px;
}

#About-Me h2 a{
  text-decoration: none;
}

#About-Me p{
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.flex{
  display: flex;
  margin-top: 50px;
}

#pic{
  margin-left: 300px;
  width: 400px;
}

.self{
  margin-right: 150px;
}

.self > p{
  margin-top: 80px;
  width: 494 !important;
  text-align: left !important;
}

.download-cv{
  margin-top: 100px;
  padding: 12px;
  font-size: x-large;  
  font-weight: bold;
  background-color:  #5a69e8;
  border-radius: 12px;
}

.download-cv a{
  text-decoration: none;
  color: #FFFFFF;
}

.download-cv i{
  font-size: x-large;
  font-weight: bold;
  align-self: center;
}

#tech{
  margin-top: 150px;
}

#tech h2{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

#tech p{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.logo{
  background-color: red;
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo > div{
  padding: auto;
  line-height: 60px;
  width: 200px;
  margin: 40px;
  font-size: 20px;
  align-self: center;
}