*{
  margin: 0;
  padding: 0;
}

.container{
  margin: auto;
  max-width: 80%;
}

header{
  display: flex;
  height: 40px;
  border-bottom: 2px solid black;
}

.nav h2{
  display: inline-block;
  margin-left: 100px;
  align-self: center;
}

.nav ul{
   margin-left: 345px;
   align-self: center;
}

.nav ul li{
  display: inline;
  text-decoration: none;
  width: 60px;
  font-weight: bolder;
  font-size: larger;
  margin-right: 40px;
  margin-top: auto;
}

.nav ul li a{
  text-decoration: none;
  color: black;
}

.nav i{
  font-weight: bolder;
  margin-top: 4px;
  margin-right: 100px;
  align-self: center;
  margin-left: 345px;
}

.body{
  background-color: red; 
  margin-top: 10%;
  display: flex;
  height: 400px;
  overflow: hidden;

}

.link i{
  display: block;
  font-size: x-large;
  margin-top: 50px;
  margin-left: 100px;
}

.Hello{
  margin-left: 170px;
  margin-top: 50px;
  font-size: x-large;
}

.Hello p{
  margin-top: 20px;
}

.Contact{
  margin-top: 30px;
  font-size: larger;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.Contact i{
  transform: rotate(45);
}

.pic{
  margin-left: 200px;
  /* border-radius: 70%; */
  /* border: 2px solid black; */
  justify-content: center;  
  /* overflow: hidden; */
  margin-right: 100px;
}

.pic img{
  background-position: top;
  background-size: cover;
}